
/Matchstick/src/GamesManager/GamesManager.GameSource/web.config
/Matchstick/src/GamesManager/GamesManager.StatisticsService/web.config
/Matchstick/src/GamesManager/GamesManager.StatisticsService/GamesManager.StatisticsService.Publish.xml
/Matchstick/src/GamesManager/GamesManager.GameSource/GamesManager.GameSource.Publish.xml
/Matchstick/src/GamesManager/GamesManager.GameSource/Log/log.txt
/Matchstick/src/web/MatchstickFramework.Web/log/log.txt
/vendor/libogg-1.2.0/win32/VS2008/Debug
/vendor/libogg-1.2.0/win32/VS2008/Release
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbis/Debug
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbis/Release
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbisfile/Debug
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbisfile/Release
/vendor/WinUnitLib/Debug
/vendor/WinUnitLib/Release
/vendor/WinUnit/Debug
/vendor/WinUnit/Release
/vendor/minizip/msvc/Debug
/vendor/minizip/msvc/Release
/vendor/zlib/msvc/Debug
/vendor/zlib/msvc/Release
/vendor/xerces-c-src_2_7_0/Projects/Win32/VC8/xerces-all/XercesLib/Debug
/vendor/xerces-c-src_2_7_0/Projects/Win32/VC8/xerces-all/XercesLib/Release
/vendor/FW1FontWrapper/Debug
/vendor/FW1FontWrapper/Release
/vendor/jsoncpp-0.5.0/Debug
/vendor/jsoncpp-0.5.0/Release
Matchstick\ipch\core.audio.openal-d3b8cb44*/
/vendor/UnitTest++/x64
/vendor/UnitTest++/Win32
/vendor/alut/x64
/vendor/alut/Win32
/vendor/FW1FontWrapper/Win32
/vendor/FW1FontWrapper/x64
/vendor/FW1FontWrapperShaders/Win32
/vendor/FW1FontWrapperShaders/x64
/vendor/jsoncpp-0.5.0/Win32
/vendor/jsoncpp-0.5.0/x64
/vendor/lib/Debug
/vendor/lib/x64/Debug
/vendor/lib/Win32/Debug
/vendor/libogg-1.2.0/win32/VS2008/Win32
/vendor/libogg-1.2.0/win32/VS2008/x64
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbis/Win32
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbis/x64
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbisfile/Win32
/vendor/libvorbis-1.3.1/win32/VS2008/libvorbisfile/x64
/vendor/minizip/msvc/Win32
/vendor/minizip/msvc/x64
/vendor/zlib/msvc/Win32
/vendor/zlib/msvc/x64
/vendor/FW1FontWrapper/gsClipStr.h
/vendor/FW1FontWrapper/gsSimpleStr.h
/vendor/FW1FontWrapper/psClipStr.h
/vendor/FW1FontWrapper/psStr.h
/vendor/FW1FontWrapper/vsClipStr.h
/vendor/FW1FontWrapper/vsEmptyStr.h
/vendor/FW1FontWrapper/vsSimpleStr.h
/Matchstick/ipch
/vendor/FW1FontWrapperShaders/Debug
/vendor/FW1FontWrapperShaders/Release
/vendor/lib/x64/Release/zlib.lib
/vendor/lib/x64/Release/minizip.lib
/vendor/lib/x64/Release/UnitTest++.lib
/vendor/lib/x64/Release/Jsoncpp.lib
/vendor/lib/x64/Release/FW1FontWrapper.lib
/vendor/lib/Win32/Release/zlib.lib
/vendor/lib/Win32/Release/minizip.lib
/vendor/lib/Win32/Release/UnitTest++.lib
/vendor/lib/Win32/Release/Jsoncpp.lib
/vendor/lib/Win32/Release/FW1FontWrapper.lib
/Matchstick/src/GamesManager/GamesManager.StatisticsService/Log/log.txt
/Matchstick/src/samples/EmptyGame/user
/vendor/GameuxInstallHelper/Win32
/vendor/GameuxInstallHelper/x64
/Matchstick/src/GamesManager/GamesManager.StatisticsService/Properties/PublishProfiles
