Debug/
Release/
log.txt
Win32/
x64/
!Matchstick/dependencies/x64
ipch/
Matchstick/src/samples/EmptyGame/user
Matchstick/dist
.vs/
/Matchstick/include/MGDF/MGDF.h
/Matchstick/include/MGDF/MGDF_p.c
/Matchstick/include/MGDF/MGDF_i.c
/Matchstick/include/MGDF/dlldata.c
.aider*
.env
