Debug/
Release/
log.txt
Win32/
x64/
!dependencies/x64
ipch/
src/samples/EmptyGame/user
dist
.vs/
include/MGDF/MGDF.h
include/MGDF/MGDF_p.c
include/MGDF/MGDF_i.c
include/MGDF/dlldata.c
.aider*
.env
build/tools/
!build/tools/packages.config
packages/
*.ncb
bin/
*_ReSharper*/
obj/
*.user
*.suo
*.sdf
*.opensdf
vcpkg_installed/

