<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="statisticsService" type="MGDF.GamesManager.StatisticsService.Model.Configuration.StatisticsServiceSectionHandler,GamesManager.StatisticsService.Model"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <statisticsService connectionString="${ConnectionString}" />

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%C] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="GlobalLogging">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <system.web>
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="/error.htm" />
    <authentication mode="None" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <system.serviceModel>
    <serviceHostingEnvironment>
      <baseAddressPrefixFilters>
        <add prefix="${Host}" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MGDF.GamesManager.StatisticsService.StatisticsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MGDF.GamesManager.StatisticsService.StatisticsServiceBehavior"
        name="MGDF.GamesManager.StatisticsService.StatisticsService">
        <endpoint address="" binding="basicHttpBinding" contract="MGDF.GamesManager.StatisticsService.Contracts.IStatisticsService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="${Host}"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
