<footer>
    <div class="container">
        <hr />
        <p>&copy; 2014 - <a href="http://www.sharpoblunto.com/">Glenn Conner</a></p>
    </div>
</footer>
<script src="{{ site.baseurl }}/scripts/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/scripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/scripts/jquery-biscroll.js"></script>
<script src="{{ site.baseurl }}/scripts/prettify.js"></script>
<script type="text/javascript">
if (typeof jQuery !== "undefined")
{
    $.each(q,function(i,f){$(f)});
}
</script>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3061240-13']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
