<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchstick game development framework</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon" /> 
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/prettify.css" rel="stylesheet" type="text/css" />
</head>

