<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matchstick game development framework</title>
    <link rel="icon" href="{{ site.baseurl }}/assets/favicon.ico" type="image/x-icon" /> 
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="{{ site.baseurl }}/assets/css/highlight.css" rel="stylesheet" type="text/css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JP8PZRLJE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2JP8PZRLJE');
    </script>
</head>

