<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="gameSource" type="MGDF.GamesManager.GameSource.Model.Configuration.GameSourceSectionHandler,GamesManager.GameSource.Model"/>
    <section name="amazonS3" type="MGDF.GamesManager.GameSource.Model.FileServers.AmazonS3SectionHandler,GamesManager.GameSource.Model"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!-- only used if the S3 file server is used, populate these fields with your S3 details from Amazon -->
  <amazonS3
    bucketId="${BucketId}"
    basePath="${BasePath}"
    awsKey="${AWSKey}"
    awsSecretKey="${AWSSecretKey}" />
  
  <!-- ensure that maxUploadPartSize (in bytes) does not exceed maxRequestLength (in megabytes) defined in the httpRuntime section of system.Web-->
  <gameSource
    fragmentUploadHandler="/upload"
    maxUploadPartSize="5242880"
    connectionString="${ConnectionString}"
    authenticationRealm="${AuthenticationRealm}"
                            
    name="${Name}"
    description="${Description}"

    baseUrl="${Host}"
 
    fileServerAssembly="GamesManager.GameSource.Model"
    fileServerType="MGDF.GamesManager.GameSource.Model.FileServers.AmazonS3FileServer" />

  <!-- 
  To use self file hosting rather than S3, replace the fileServerType sttribute with the one defined below
    fileServerType="MGDF.GamesManager.GameSource.Model.FileServers.DefaultFileServer"
  -->
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\log\log.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maximumFileSize value="50MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%C] %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <logger name="GlobalLogging">
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </logger>
  </log4net>

  <system.web>
    <compilation debug="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="/error.htm" />
    <httpRuntime maxRequestLength="5243" /><!-- allow uploads of up to 5mb -->
  </system.web>

  <system.webServer>
    <handlers>
      <add verb="GET" path="services" name="ServicesHandler" type="MGDF.GamesManager.GameSource.Handlers.ServicesHandler, GamesManager.GameSource"/>
      <add verb="POST" path="upload" name="UploadHandler" type="MGDF.GamesManager.GameSource.Handlers.UploadHandler, GamesManager.GameSource"/>
    </handlers>
    <modules>
      <add name="DownloadModule" type="MGDF.GamesManager.GameSource.Handlers.DownloadModule, GamesManager.GameSource"/>
    </modules>
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment>
      <baseAddressPrefixFilters>
        <add prefix="${Host}" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MGDF.GamesManager.GameSource.GameSourceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="MGDF.GamesManager.GameSource.GameSourceDeveloperBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MGDF.GamesManager.GameSource.GameSourceBehavior" name="MGDF.GamesManager.GameSource.GamesService">
        <endpoint address="" binding="webHttpBinding" contract="MGDF.GamesManager.GameSource.Contracts.IGameSourceService"/>
        <host>
          <baseAddresses>
            <add baseAddress="${Host}" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MGDF.GamesManager.GameSource.GameSourceDeveloperBehavior" name="MGDF.GamesManager.GameSource.DeveloperService">
        <endpoint address="" binding="webHttpBinding" contract="MGDF.GamesManager.GameSource.Contracts.IGameSourceDeveloperService"/>
        <host>
          <baseAddresses>
            <add baseAddress="${Host}" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

  <location path="games">
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".mza" mimeType="application/x-mgdf-archive" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>
